
<div class="container-fluid">
  <br>
  <br>
  <br>
  <p id="notice"><%= notice %></p>


  <p>
    <strong>Nome:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= @user.address %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= @user.telephone %>
  </p>
  <%user = @user %>
  <%if can? :manage, user %>

  <%= link_to 'Editar', edit_user_path(@user), :class => "btn btn-warning" %> |
  <%end %>
  <%= link_to 'Voltar', users_path, :class => "btn btn-primary" %>
</div>
