<%= form_with(model: advert, local: true) do |form| %>
  <% if advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
      <% advert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'Título' %>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :'Descrição' %>
    <%= form.text_field :description, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :'Preço' %>
    <%= form.number_field :price, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :'Categoria' %>
    <%= form.select :category_id, Category.all.collect {|category| [category.name, category.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :'Imagens' %>
    <%= form.file_field :images, multiple: true%>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", :class => "btn btn-success btn-lg"%>
  </div>
  <br>
<% end %>
